
/*******Animations****/
@keyframes animate__fadeIn  {}
@keyframes animate__zoomIn {}
@keyframes animate__fadeInDown {}
@keyframes animate__fadeInRight {}
@keyframes animate__pulse {}
@keyframes animate__slideOutRight {}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
 } 

 /**********Fonts***/
 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=BhuTuka+Expanded+One&family=Caveat:wght@400;500;600;700&family=Cinzel:wght@400;700;900&family=Kaushan+Script&family=Lobster&family=Mukta:wght@200;300;600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');