* {
    padding: 0;
    margin: 0;
}
body {
    background-image: url(assets/background1.jpg);
}

.dwLogo {
    height: 10em;
    width: 10em;
    border-radius: 15%;
}

#iconosDiseño {
    height: 10em;
    width: 10em;
}
.codingLogoIndex {
    height: 15em;
    width: 15em;
}
/*******Sobre mi*****/
#fotoPerfil {
    height: 25em;
    width: 25em;
    border-radius: 50%;
}

/*******Trabajos****/
.logoProyecto {
    height: 10em;
    width: 10em;
}

/******Contacto******/
.fontAwesome {
    color: #ffff;
    height: 10em;
    width: 10em;
}
.imgCabecera {
    height: 25em;
    width: 30em;
}